<h1 class="text-center">View and Post Jobs</h1>
<h3 class="text-center">Post a Job</h3>

<form>
  <div class="form-group">
    <label for="languageFromId">Source Language</label>
    {{>languageSelect inputId="languageFromId"}}
  </div>
  <div class="form-group">
    <label for="languageToId">Target Language</label>
    {{>languageSelect inputId="languageToId"}}
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="4" cols="50"></textarea>
  </div>
  <button type="button" class="btn btn-primary" id="jobPost">Post</button>
</form>
<br>

<h3 class="text-center">View Jobs</h3>

<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Date Posted</th>
    <th>Source language</th>
    <th>Target language</th>
    <th>Title</th>
    <th>Status</th>
    <th>Contact</th>

  </tr>
  {{#each jobs}}
  <tr>
    <td>{{id}}</td>
    <td>{{createdAt}}</td>
    <td>{{LanguageFrom.name}}</td>
    <td>{{LanguageTo.name}}</td>
    <td>{{title}}</td>
    <td>{{status}}</td>
    <td>{{User.fullName}}</td>
  </tr>
  {{/each}}
</table>

<script src="/js/vendor.js"></script>